[Unit]
Description=Flug Checker
After=network-online.target
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/flug_env/bin/python /home/pi/flug_checker.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target